/* Variables */ 

$font-header: 'Roboto', sans-serif;
$font-text: 'Open Sans', sans-serif;

$color-one: #fff;
$color-two: #000000;
$color-three: #6b6b6b;
$color-four: #ADA7A7;
$color-five: #FFD700;

/* GLobal */

body {
    margin: 0;
}
h2, h3 {
    text-align: center;
}
a {
    text-decoration: none;    
}
section {
    padding-top: 91px;
}
.section-title {
    font-size: 42px;
            font-family: $font-header;
            letter-spacing: 2px;
            margin-bottom: 0;
}
.section-subtitle {
    margin-top: 8px;
    font-family: $font-text;
    font-size: 17px;
    font-style: italic;
    letter-spacing: 0.5px;
    font-weight: bold;
    color: $color-three;
}

/* Header */ 

.splash {    
    height: 100vh;
    position: relative;
    background-image: url('/images/1.jpeg');
    background-position: center center;
    background-size: cover; 

    .navigation {
    
        .container {        
            display: flex;
            flex-direction: row;
            
            .navigation-logo {
                margin-top: 45px;    
                
                a {
                    margin-left: 38px;
                    font-size: 28px;   
                    font-style: italic; 
                    color: $color-five;
                }
            }
            .navigation-list {
                justify-content: flex-end; 
                margin: 39px 0 0 26px;   
                font-family: $font-header;
                
                ul {
                    list-style-type: none;
    
                    li {
                        display: inline-block;
                        margin-right: 37px;
    
                        a {
                            letter-spacing: 1px;
                            color: $color-one;
                        }
                    }
                }
            }
        }
    }
    
    .splash-inner {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        margin-top: 43px;

        h2 {
            font-family: $font-text;
            font-size: 42px;
            font-style: italic;
            margin-bottom: 30px;
            letter-spacing: 0.4px;
            color: $color-one;
        }
        h1 {
            font-size: 77px;
            margin: 0;
            font-family: $font-header;
            letter-spacing: 5px;
            color: $color-one;
        }
        .btn {
            display: inline-block;
            min-width: 260px;
            margin: 47px auto 0 auto;
            padding: 20px;
            border-radius: 5px;
            font-family: $font-header;
            font-size: 20px;
            text-align: center;
            text-decoration: none;
            cursor: pointer; 
            border-width: 3px;
            border-style: solid;
            letter-spacing: 0.8px;
            font-weight: bold;
            color: $color-one;
            border-color: $color-five;
            background-color: $color-five;
        }
    }
}

/* Services */

.services {
    
    .row {
        margin-top: 85px;
            
        .col-md-4 {
            text-align: center;
                
            .fas {
                font-size: 35px;
                border: 3.5px solid;
                border-radius: 50%;
                padding: 18px 14px;
                color: $color-five;
            }
            .fa-lock {
                padding: 18px 18px;
            }
            h3 {
                margin: 23px 0 0 0;
                font-size: 19px;
                letter-spacing: 1.5px;
                font-family: $font-header;
            }
            p {
                font-family: $font-text;
                margin-top: 12px;
                font-size: 14px;
                line-height: 1.7;
                color: $color-three;
                font-weight: 700;
            }
            &:first-of-type {
                padding-left: 61px;
            }
            &:last-of-type {
                padding-right: 59px;
            }
        }
    }    
}